@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-dark: #1c2042;
  --clr-white: #ffff;
  --clr-distemper: #158384;
  --clr-orange: #f9bd52;
  --clr-gray: #dce4e3;
}
html {
  font-size: 16px;
}
body {
  font-family: 'Oswald', sans-serif;
  background-color: var(--clr-distemper);
  color: var(--clr-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.container {
  display: flex;
  padding: 1rem;
  margin: 0 auto;
  max-width: 100%;
  width: 50rem;
}
aside {
  padding: 0.5rem 1rem;
  width: 16rem;
}
aside button {
  background-color: var(--clr-white);
  color: #1c2042;
  padding: 0.5rem 1rem;
  border: 1px solid var(--clr-dark);
  border-radius: 10px;
  display: block;
  margin: 1rem;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s ease;
}
button:focus {
  outline: none;
}
button:hover {
  transform: translate(5px);
}
button:active {
  transform: scale(1.1);
}
main {
  flex: 1;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;

  margin: 1rem 0;
}
main h2 {
  border-bottom: 1px solid var(--clr-white);
  padding: 0.5rem 1rem;
  display: flex;

  justify-content: space-between;
  margin: 1rem 0;
}
.users {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
